static/WsGetToken_wsdl.xml

<wsdl:definitions targetNamespace="http://www.oecd.org/SSO30/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:tns="http://www.oecd.org/SSO30/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://www.oecd.org/SSO30/">
            <s:element name="GetToken">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrTokenID" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="1" name="pintExpirationTimeInSeconds" type="s:int"/>
                        <s:element maxOccurs="1" minOccurs="1" name="pintAppID" type="s:int"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrAppPassword" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrUserID" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrParameters" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrErrorDescription" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetTokenResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element maxOccurs="1" minOccurs="1" name="GetTokenResult" type="s:boolean"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrUserID" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrParameters" type="s:string"/>
                        <s:element maxOccurs="1" minOccurs="0" name="pstrErrorDescription" type="s:string"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetTokenSoapIn">
        <wsdl:part element="tns:GetToken" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="GetTokenSoapOut">
        <wsdl:part element="tns:GetTokenResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="WsGetTokenSoap">
        <wsdl:operation name="GetToken">
            <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a TOKEN object in the database and return it
</wsdl:documentation>
            <wsdl:input message="tns:GetTokenSoapIn"/>
            <wsdl:output message="tns:GetTokenSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WsGetTokenSoap" type="tns:WsGetTokenSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetToken">
            <soap:operation soapAction="http://www.oecd.org/SSO30/GetToken" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="WsGetTokenSoap12" type="tns:WsGetTokenSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetToken">
            <soap12:operation soapAction="http://www.oecd.org/SSO30/GetToken" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WsGetToken">
        <wsdl:port binding="tns:WsGetTokenSoap" name="WsGetTokenSoap">
            <soap:address location="http://localhost:8086/GetToken/WsGetToken.asmx"/>
        </wsdl:port>
        <wsdl:port binding="tns:WsGetTokenSoap12" name="WsGetTokenSoap12">
            <soap12:address location="http://localhost:8086/GetToken/WsGetToken.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>